body {
  margin: 0;
  background-color: var(--yr-c-bg);
  font-size: var(--yr-font-size);
  font-family: var(--yr-font-family);
  transition: background-color .4s;
}

:root {
  /* font */
  --yr-font-size: 16px;
  --yr-font-family: "DM Mono", "ZCOOL KuaiLe", monospace, sans-serif, "Microsoft YaHei";
  /* header */
  --yr-header-height: 50px;
  /* nav */
  --yr-nav-padding: 20px;
  /* switch */
  --yr-switch-height: 22px;
  --yr-switch-padding: 4px;
  --yr-switch-width: calc((var(--yr-switch-height) * 2) - var(--yr-switch-padding));
  --yr-slider-height: calc(var(--yr-switch-height) - var(--yr-switch-padding));
  --yr-slider-on: calc(var(--yr-switch-height) - var(--yr-switch-padding));
  /* title */
  --yr-title-margin: 30px;
  --yr-title-size-big: 4rem;
  --yr-title-size-small: 1.5rem;
  /* z-index */
  --yr-z-index-nav: 20;
  --yr-z-index-content: 10;
}

html[theme="light"] {
  --yr-c-bg: var(--yr-c-white);
  --yr-c-bg-pale: var(--yr-c-grey-5);
  --yr-c-bg-opaque: var(--yr-c-white-opaque);
  --yr-c-text: var(--yr-c-black);
  --yr-c-text-inverse: var(--yr-c-white);
  --yr-c-text-pale: var(--yr-c-grey-4);
  --yr-c-divider: var(--yr-c-black-opaque);
  --yr-c-brand: var(--yr-c-orange-light);
}

html[theme="dark"] {
  --yr-c-bg: var(--yr-c-black-soft);
  --yr-c-bg-pale: var(--yr-c-grey-2);
  --yr-c-bg-opaque: var(--yr-c-black-soft-opaque);
  --yr-c-text: var(--yr-c-white);
  --yr-c-text-inverse: var(--yr-c-black);
  --yr-c-text-pale: var(--yr-c-grey-3);
  --yr-c-divider: var(--yr-c-white-opaque);
  --yr-c-brand: var(--yr-c-orange-light);
}

:root {
  --yr-c-black: #000000;
  --yr-c-black-soft: #242424;
  --yr-c-black-opaque: #00000069;
  --yr-c-black-soft-opaque: #24242469;
  --yr-c-grey-1: #333;
  --yr-c-grey-2: #666;
  --yr-c-grey-3: #999;
  --yr-c-grey-4: #ccc;
  --yr-c-grey-5: #ddd;
  --yr-c-white: #ffffff;
  --yr-c-white-soft: #f9f9f9;
  --yr-c-white-opaque: #ffffffb3;
  --yr-c-white-soft-opaque: #f9f9f9b3;
  --yr-c-orange-light: #f58f54;
}