:root {
  --yr-c-white: #ffffff;
  --yr-c-white-soft: #f4f4f4;
  --yr-c-white-blur: rgba(255, 255, 255, 0.8);
  --yr-c-black: #242424;
  --yr-c-black-soft: #3d3d3d;
  --yr-c-black-blur: rgba(36, 36, 36, 0.8);
  --yr-c-gray-light-1: hsl(0, 0%, 94%);
  --yr-c-gray-light-2: hsl(0, 0%, 90%);
  --yr-c-gray-light-3: hsl(0, 0%, 80%);
  --yr-c-gray-light-4: hsl(0, 0%, 70%);
  --yr-c-gray-dark-1: hsl(0, 0%, 12%);
  --yr-c-gray-dark-2: hsl(0, 0%, 16%);
  --yr-c-gray-dark-3: hsl(0, 0%, 24%);
  --yr-c-gray-dark-4: hsl(0, 0%, 30%);
  --yr-c-blue: #4db9f3;
  --yr-c-blue-light: #6fc7f7;
  --yr-c-blue-dark: #3178cd;

  --yr-c-divider-light: rgba(60, 60, 60, 0.12);
  --yr-c-divider-dark: rgba(84, 84, 84, 0.48);
  --yr-c-text-light-1: var(--yr-c-black);
  --yr-c-text-light-2: rgba(108, 108, 108, 0.7);
  --yr-c-text-dark-1: var(--yr-c-white);
  --yr-c-text-dark-2: rgba(235, 235, 235, 0.7);
}

:root,
.light {
  --yr-c-bg: var(--yr-c-white);
  --yr-c-bg-soft: var(--yr-c-white-soft);
  --yr-c-bg-blur: var(--yr-c-white-blur);
  --yr-c-gray-1: var(--yr-c-gray-light-1);
  --yr-c-gray-2: var(--yr-c-gray-light-2);
  --yr-c-gray-3: var(--yr-c-gray-light-3);
  --yr-c-gray-4: var(--yr-c-gray-light-4);
  --yr-c-divider: var(--yr-c-divider-light);
  --yr-c-text-1: var(--yr-c-text-light-1);
  --yr-c-text-2: var(--yr-c-text-light-2);
  --yr-c-text-inverse-1: var(--yr-c-text-dark-1);
  --yr-c-text-inverse-2: var(--yr-c-text-dark-2);
  --yr-c-brand: var(--yr-c-blue);
}

.dark {
  --yr-c-bg: var(--yr-c-black);
  --yr-c-bg-soft: var(--yr-c-black-soft);
  --yr-c-bg-blur: var(--yr-c-black-blur);
  --yr-c-gray-1: var(--yr-c-gray-dark-1);
  --yr-c-gray-2: var(--yr-c-gray-dark-2);
  --yr-c-gray-3: var(--yr-c-gray-dark-3);
  --yr-c-gray-4: var(--yr-c-gray-dark-4);
  --yr-c-divider: var(--yr-c-divider-dark);
  --yr-c-text-1: var(--yr-c-text-dark-1);
  --yr-c-text-2: var(--yr-c-text-dark-2);
  --yr-c-text-inverse-1: var(--yr-c-text-white-1);
  --yr-c-text-inverse-2: var(--yr-c-text-white-2);
  --yr-c-brand: var(--yr-c-blue);
}

/* No need. See 'src/layout/HeaderSwitch.vue'
@media (prefers-color-scheme: dark) {
  :root {
    --yr-c-bg: var(--yr-c-black);
    --yr-c-bg-soft: var(--yr-c-black-soft);
    --yr-c-bg-blur: var(--yr-c-black-blur);
    --yr-c-divider: var(--yr-c-divider-dark);
    --yr-c-text-1: var(--yr-c-text-dark-1);
    --yr-c-text-2: var(--yr-c-text-dark-2);
    --yr-c-text-inverse-1: var(--yr-c-text-white-1);
    --yr-c-text-inverse-2: var(--yr-c-text-white-2);
    --yr-c-brand: var(--yr-c-blue);
  }
} */

@for $i from 1 through 32 {
  :root {
    --yr-fs-#{$i}: #{$i * 0.25}rem;
  }
}

:root {
  --yr-pd-top: 4rem;
  --yr-pd-side: 2rem;
  --yr-main-width: 56rem;
}

@media (min-width: 640px) {
  :root {
    --yr-pd-side: 6rem;
  }
}

@media (min-width: 1024px) {
  :root {
    --yr-pd-side: 12rem;
  }
}

html {
  font-size: 16px;
}

* {
  -webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
  -moz-box-sizing: border-box; /* Firefox, other Gecko */
  box-sizing: border-box; /* Opera/IE 8+ */
}

img,
svg,
video {
  max-width: 100%;
  display: block;
}

a {
  color: inherit;
  text-decoration: none;
}

a:hover {
  cursor: pointer;
  color: var(--yr-c-brand);
  transition: color 0.5s;
}

ul,
li {
  list-style: none;
  padding: 0;
  margin: 0;
}

body {
  margin: 0;
  padding: 0;
  color: var(--yr-c-text-1);
  font-family:
    'Source Code Pro',
    -apple-system,
    BlinkMacSystemFont,
    'Segoe UI',
    Roboto,
    Oxygen,
    Ubuntu,
    Cantarell,
    'Open Sans',
    'Helvetica Neue',
    sans-serif;
  background-color: var(--yr-c-bg);
  transition:
    color 0.3s,
    background-color 0.3s;
  /* https://developer.mozilla.org/en-US/docs/Web/CSS/overflow */
  overflow: overlay;
}

::-webkit-scrollbar {
  width: 0.5rem;
  height: 0.5rem;
}

::-webkit-scrollbar-thumb:hover {
  background-color: var(--yr-c-gray-3);
}

::-webkit-scrollbar-thumb {
  background-color: var(--yr-c-gray-4);
  border-radius: 9999px;
}

::-webkit-scrollbar-track {
  background-color: var(--yr-c-bg);
}
