@import './base.scss';

.yr-flex {
  display: flex;
  justify-content: center;
  gap: var(--yr-v-gap);
}

.yr-flex-row {
  @extend .yr-flex;
  flex-direction: row;
}

.yr-flex-col {
  @extend .yr-flex;
  flex-direction: column;
}

@for $i from 0 through 32 {
  .yr-flex-row-#{$i} {
    @extend .yr-flex-row;
    --yr-v-gap: var(--yr-fs-#{$i});
  }
  .yr-flex-col-#{$i} {
    @extend .yr-flex-col;
    --yr-v-gap: var(--yr-fs-#{$i});
  }
}

@for $i from 1 through 3 {
  .yr-h#{$i} {
    margin-block-start: 0px;
    margin-block-end: 0px;
  }
}

.yr-h1 {
  font-size: 3rem;
}

.yr-h2 {
  font-size: 1.75rem;
}

.yr-h3 {
  font-size: 1.5rem;
}

.yr-h4 {
  font-size: 1.125rem;
}

.yr-img {
  width: 100%;
}
.yr-img img {
  max-width: 100%;
  border-radius: 1rem;
  box-shadow: 0px 0px 24px 0px rgba(0, 0, 0, 25%);
}
