@import './base.css';

.yr-flex-row {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: var(--yr-v-gap);
}

.yr-flex-col {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: var(--yr-v-gap);
}

.yr-gap-0 {
  --yr-v-gap: 0px;
}

.yr-gap-1 {
  --yr-v-gap: var(--yr-fs-1);
}

.yr-gap-2 {
  --yr-v-gap: var(--yr-fs-2);
}

.yr-gap-3 {
  --yr-v-gap: var(--yr-fs-3);
}

.yr-gap-4 {
  --yr-v-gap: var(--yr-fs-4);
}

.yr-gap-5 {
  --yr-v-gap: var(--yr-fs-5);
}

.yr-fc-0 {
  @extend .yr-flex-col;
  @extend .yr-gap-0;
}

.yr-img {
  width: 100%;
}
.yr-img img {
  max-width: 100%;
  border-radius: 1rem;
  box-shadow: 0px 0px 24px 0px rgba(0, 0, 0, 25%);
}